# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.workspace':
  'ctrl-alt-cmd-i': 'atom-node-debug:connect'

'.editor[data-grammar~=js]':
  'ctrl-alt-i': 'atom-node-debug:debug-current-file'
  
'.atom-node-debug--paused':
  'ctrl-alt-cmd-right': 'atom-node-debug:step-into'
  'ctrl-alt-cmd-down': 'atom-node-debug:step-over'
  'ctrl-alt-cmd-left': 'atom-node-debug:step-out'
  'ctrl-alt-cmd-up': 'atom-node-debug:continue'
  'ctrl-alt-cmd-b': 'atom-node-debug:toggle-breakpoint'
